*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

@media (max-width: 900px) {
    .header_container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .övriga_tjänster_div{
        width: 100%;
        margin-left: auto; margin-right: auto;
    }

}

body{
    animation: fade-in 0.5s ease;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.van_image_index{
    max-width: 25%;
}

.header_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menu{
    width: 100%;
    list-style: none;
    color: antiquewhite;
    display: flex;
    border-bottom-style: solid;
    border-bottom-right-radius: 4px;
    border-bottom-color: black;
    overflow: auto;
}

.menu li{
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
}

a{
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

a:hover{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 3px 1px 3px rgba(255, 255, 255, 0.7);
}

.header_background{
    position: fixed;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    z-index: -1;
}

h1{
    width: 100%;
    font-size: 4em;
    text-align: center;
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.index_h2{
    margin: 15px;
    margin-left: auto; margin-right: auto;
    width: 50%;
    background-color: rgba(9, 9, 10, 0.5);
    padding: 50px;
    text-align: right;
}

.index_kontakt_offert{
    display: ;
    width: 70%;
    margin: 15px;
    margin-left: auto; margin-right: auto;
    padding: 15px;
    font-size: 1em;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(16, 16, 17, 0.9);
}

.index_text_1{
    width: 70%;
    min-height: 30%;
    margin: 30px;
    margin-left: auto; margin-right: auto;
    font-size: 110%;
    text-align: center;
    padding: 30px;
    color: antiquewhite;
    background-color:rgba(0, 0, 0, 0.7);
}

.index_utrustning{
    width: 100%;
    padding: 15px;
    margin: 15;
    border-style: solid;
    /*border-radius: 4px;
    border-color: antiquewhite;*/
}
.index_text_2{
    text-align: center;
    width: ;
    font-size: 3em;
    color: white;
    /*border-bottom-style:solid ;*/
    border-bottom-width: 3px;
    border-bottom-color: antiquewhite;
}
.footer{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    position: fixed;
    background-color: transparent;
    color: rgb(255, 255, 255);
    bottom: 0;
    padding: 15px;
}

.footer_copyright{
}

.phone, .phone_image{
    width: 80px;
    margin-left: auto;
    margin-right: 0;
}
.phone_image{
    display: block;
}
.phone_number{
    width: 80px;
    margin-left: auto;
    margin-right: 0;
    display: block;
    transition: color 0.3s ease;
}
.phone_number:hover{
    margin-left: auto;
    margin-right: 0;
    color: red;
    display: block;
}

#image{
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 0;
}

.expertis_header{
    font-size: 3em;
    color: antiquewhite;
    background-color: rgba(46, 45, 53, 0.3);
    padding: 20px;
}

.expertis_ul{
    color: antiquewhite;
    font-size: 1.5em;
    padding: 40px;
    background-color: rgba(44, 44, 51, 0.3);
}

.expertis_div{
    margin-left: auto; margin-right: auto;
    width: 50%;
    background-color: rgba(60, 59, 68, 0.5);
}

.tjänster_header{
    color: antiquewhite;
    font-size: 2em;
}

.tjänster_ul{
    color: antiquewhite;
    font-size: 1.5em;
    padding: 30px;
}

.kontakt_kort{
    overflow-wrap: break-word;
    width: 50%;
    margin: 15px;
    margin-left: auto; margin-right: auto;
    padding: 25px;
    background-color: rgb(190, 190, 190,.5);
    text-align: center;
}

.kontakt_mail_text{
}

.kort_icon{
    display: block;
    width: 40px;
    margin-left: auto; margin-right: auto;
}

.besiktning_header{
    font-size: 2em;
    color: antiquewhite;
    padding: 10px;
}

.besiktning_text{
    font-size: 1.2em;
    color: antiquewhite;
    margin-left: 0px;
    padding: 10px;
}

.besiktning_div{
    width: 70%;
    margin: 15px;
    margin-left: auto; margin-right: auto;
    background-color: rgba(77, 76, 85, .5);
}

.övriga_tjänster_div{
    font-size: 20px; 
    width: 80%;
    margin: 15px;
    margin-right:auto; 
    background-color: rgb(34, 30, 30, .6);
    padding: 10px;
}

.övriga_tjänster_header{
    color: antiquewhite;
    font-size: 3em;
}

.övriga_tjänster_dl{
    color: antiquewhite;
}

.prisklass_div{
    width: 100%;
    background-color: rgb(27, 24, 24, 1.6);
    color: antiquewhite;
    padding: 20px;
}

.prisklass_header{
    font-size: 2.5em;
}

.prisklass_text{
    font-size: 100%;
    width: 50%;
    margin-top: 15px; margin-bottom: 15px;
    border-radius: 3px;
    border-top-color: antiquewhite;
    text-align: left;
}

.prisklass_list{
    list-style: circle;
    color: antiquewhite;
}

.prisklass_list_title, dt{
    font-size: 2em;
    font-weight: 800;
}